.scroll-decoration {
  box-shadow: none !important;
}

.minimap, .editor-scrollable>.decorationsOverviewRuler {
  opacity: 0.6;
}

.editor-container {
  background: transparent !important;
}

.search-view .search-widget .input-box, .search-view .search-widget .input-box .monaco-inputbox,
.monaco-workbench .part.editor>.content>.one-editor-silo>.container>.title .tabs-container>.tab,
.monaco-editor-background,
.monaco-editor .margin,
.monaco-workbench .part>.content,
.monaco-workbench .editor>.content>.one-editor-silo.editor-one,
.monaco-workbench .part.editor>.content>.one-editor-silo>.container>.title,
.monaco-workbench .part>.title,
.monaco-workbench,
.monaco-workbench .part,
body {
  background: transparent !important;
}

.editor-group-container>.tabs {
  background-color: transparent !important;
}

.editor-group-container>.tabs .tab {
  background-color: transparent !important;
}

.editor-group-container>.tabs .tab.active, .editor-group-container>.tabs .monaco-breadcrumbs {
  background-color: rgba(37, 37, 37,0.3) !important;
}

.monaco-list.settings-toc-tree .monaco-list-row.focused {
  outline-color: rgb(37, 37, 37,0.6) !important;
}

.monaco-list.settings-toc-tree .monaco-list-row.selected,
.monaco-list.settings-toc-tree .monaco-list-row.focused,
.monaco-list .monaco-list-row.selected,
.monaco-list.settings-toc-tree:not(.drop-target) .monaco-list-row:hover:not(.selected):not(.focused) {
  background-color: rgb(37, 37, 37,0.6) !important;
}

.monaco-list.settings-editor-tree .monaco-list-row {
  background-color: transparent !important;
  outline-color: transparent !important;
}

.monaco-inputbox {
  background-color: rgba(41, 41, 41,0.2) !important;
}

.monaco-editor .selected-text {
  background-color: rgba(58, 61, 65,0.6) !important;
}

.monaco-editor .focused .selected-text {
  background-color: rgba(38, 79, 120,0.6) !important;
}

.monaco-editor .view-overlays .current-line {
  border-color: rgba(41, 41, 41,0.2) !important;
}

.extension-editor,
.monaco-workbench .part.editor>.content>.one-editor-silo>.container>.title .tabs-container>.tab.active,
.preferences-editor>.preferences-header,
.preferences-editor>.preferences-editors-container.side-by-side-preferences-editor .preferences-header-container,
.monaco-editor, .monaco-editor .inputarea.ime-input,
.monaco-list .monaco-list-rows {
  background: transparent !important;
}


.monaco-workbench .part.sidebar {
  background-color: rgba(37, 37, 38, 0.3) !important;
}


.editor-group-container>.tabs .tab {
  border: none !important;
}

.terminal-outer-container,
.xterm-viewport,
.xterm-rows {
  background-color: transparent !important;
}

.monaco-workbench.fullscreen {
	background-color: #202020 !important;
}